.tracks
  - @tracks.each do |track|
    .row{ class: cycle('odd', 'even') }
      %ul
        %li
          .col-md-2
            = link_to track.artist, track.artist_url, default_transition
          .col-md-2
            = track.title
          .col-md-2
            = track.album
          .col-md-1
            = track.genre
          .col-md-1
            .badge
              = link_to track.year, track.year_url, default_transition
          .col-md-1
            .badge
              = track.duration
          .col-md-1
            %i{ class: "fas fa-3 fa-spin %s hidden" % FA_CSS[:processing] }
            %i{ class: "fab fa-3 %s" % FA_CSS[:play], data: { id: track.id } }

:javascript
  new App.Tracks(#{@tracks.map(&:marshal_dump).to_json.html_safe})
  new App.TrackRows('.tracks > .row')
