- content_for :head do
  = javascript_include_tag :music
  = stylesheet_link_tag :music

%div{ 'data-role': 'page', 'id': 'search' }
  .container
    = form_tag music_index_path, default_transition.merge(method: :get, 'data-method': :get) do
      .form-group
        .col-md-5
          = text_field_tag :q, params[:q], class: 'form-control', type: 'search'
        .col-md-5
          %button.btn.btn-default{ type: 'submit' } Search
    .clear

    %ol.search
      - @releases.each do |item|
        %li
          %h5
            .label.label-primary= link_to item.year, item.year_url, default_transition
            %span.label.label-info
              = link_to item.folder_name, item.folder_url, default_transition
              - if item.subfolder_url
                |
                = link_to item.subfolder_name, item.subfolder_url, default_transition
            %span.link
              = link_to highlight(item.formatted_name, search_terms_array), item.url

    %small.margin-20
      = 'Page rendered in %s seconds - %s' % [ Time.now - @t1, Time.now ]