- content_for :head do
  = javascript_include_tag :music

.container
  = form_tag search_music_index_path, default_transition.merge({ method: :get }) do
    = hidden_field_tag :rows, search_rows
    .form-group
      .col-md-5
        = text_field_tag :q, params[:q], class: 'form-control'
      .col-md-5
        %button.btn.btn-default{ type: "submit" } Search

  .clear

  %small.margin-20
    = "Found %s results in %s seconds" % [ @tracks.length, (Time.now - @t1) ]

  %ol
    - @tracks.each do |release_id, infos|
      %li
        %span.label.label-info= infos[:folder].upcase
        %span.badge= infos[:format_name]
        %strong= link_to highlight(infos[:name], search_terms_array),  |
                         music_path(release_id, default_params),       |
                         default_transition                            |