- content_for :head do
  = javascript_include_tag :music

%div{ 'data-role': 'page', 'id': 'search' }
  .container
    = form_tag search_music_index_path, default_transition.merge(method: :get) do
      .form-group
        .col-md-5
          = text_field_tag :q, params[:q], class: 'form-control'
        .col-md-5
          %button.btn.btn-default{ type: 'submit' } Search
    .clear

    %ol
      - @releases.each do |_, item|
        %li
          %h5
            .label.label-primary
              = link_to item.year, item.year_url, default_transition
            .label.label-info= item.format_name
            - if item.subfolder_url
              %span.label.label-success.label-as-badge
                = link_to item.subfolder.titleize, item.subfolder_url, default_transition
            %strong
              = link_to highlight(item.formatted_name, search_terms_array), item.url, default_transition

    %small.margin-20
      = 'Page rendered in %s seconds - %s' % [ Time.now - @t1, Time.now ]