- content_for :head do
  = javascript_include_tag :music

%div{ "data-role": "page", "id": "release-#{@release.id}" }
  .row
    %ul
      %li
        = link_to search_music_index_path(default_params), default_transition do
          %i.fa.fa-list.fa-4

  = stylesheet_link_tag :music

  :scss
    @import "mixins/_image_set.scss";
    #{render partial: "music/images.css"}

  - if @release.images.any?
    .row.margin-20
      .polaroid-images.margin-20
        - @release.images.each do |image|
          = link_to image.file.url, class: :swipebox do
            %div{ id: "img-#{image.id}" }

  :javascript
    $(document).ready(function(e) {
      observe_polaroids();
      $(".swipebox").swipebox();
    });

  - if @release.nfo_files.any?
    .row
      %ul
        - @release.nfo_files.each do |nfo|
          %li
            = link_to nfo.file.url, target: "_blank" do
              %i.fa.fa-sticky-note.fa-4.shadow-light.margin-10

  .tracks
    - @tracks.each do |track|
      .row
        %ul
          %li
            .col-md-2
              = track.link_to_search :artist
            .col-md-2
              = track.title
            .col-md-2
              = track.album
            .col-md-2
              = track.genre
            .col-md-1
              = track.link_to_search :year
            .col-md-1
              .badge= track.duration
              .spacer
            .col-md-2
              %i.fa.fa-gear.fa-4.fa-spin.processing.hidden.grey-dark
              %i.fa.fa-refresh.fa-4.fa-spin.buffering.hidden.grey-dark
              %i.fa.fa-podcast.fa-4.play-btn{ "data-id" => track.id, "data-url" => stream_path(track) }

  :javascript
    $(document).ready(function(e) {
      init_players(
        #{get_url_streams_path.to_json.html_safe},
        #{track_files(@release, @tracks).to_json.html_safe},
        { HIDDEN: 'hidden', ACTIVE: 'red active', DISABLED: 'grey',
          PROCESSING: 'processing', BUFFERING: 'buffering' }
      );
    });
