- content_for :head do
  = javascript_include_tag :music

= stylesheet_link_tag :music

.row
  %ul
    %li
      = link_to search_music_index_path(default_params), default_transition do
        %i.fa.fa-list.fa-4

:scss
  @import "mixins/_image_set.scss";
  #{render partial: "music/images.css"}

- if @images.any?
  .row.margin-20
    .polaroid-images.margin-20
      - @images.each do |image|
        = link_to image.file.url, class: :swipebox do
          %div{ id: "img-#{image.id}" }

:javascript
  $(document).ready(function(e) {
    observe_polaroids();
    $(".swipebox").swipebox();
  });

- if @nfo.any?
  .row
    %ul
      - @nfo.each do |nfo|
        %li
          = link_to nfo.file.url, target: "_blank" do
            %i.fa.fa-sticky-note.fa-4.shadow-light.margin-10

- @tracks.each do |track|
  .row
    %ul
      %li
        .col-md-2
          = track.link_to_search :artist
        .col-md-2
          = track.title
        .col-md-1
          = track.album
        .col-md-2
          = track.genre
        .col-md-1
          = track.link_to_search :year
        .col-md-1
          .badge= track.duration
        .col-md-2
          %i.fa.fa-circle-o-notch.fa-4.fa-spin.processing.hidden.grey-dark
          %i.fa.fa-play.fa-4.play-btn{ "data-id" => track.id }

:javascript
  $(document).ready(function(e) {
    init_players(#{track_files.to_json});
  });
