- content_for :head do
  = javascript_include_tag :music

= stylesheet_link_tag :music

.row
  %ul
    %li
      = link_to search_music_index_path(params.slice("q", "rows")), { "data-transition" => "none" } do
        %i.fa.fa-list.fa-4

- if @images.any?
  .row.margin-20
    .polaroid-images.margin-20
      - @images.each do |image|
        = link_to image.file.url, class: "swipebox" do
          = image_tag image.file.thumb("300x250>").url

- if @nfo.any?
  .row
    %ul
      - @nfo.each do |nfo|
        %li
          = link_to nfo.file.url, target: "_blank" do
            %i.fa.fa-sticky-note.fa-4.shadow-light.margin-10

- @release.each do |track|
  .row
    %ul
      %li
        .col-md-1
          = track.link_to_search :artist
        .col-md-1
          = track.title
        .col-md-1
          = track.album
        .col-md-1
          = track.genre
        .col-md-1
          = track.link_to_search :year
        .col-md-1
          .badge= track.duration
        .col-md-2
          %i.fa.fa-circle-o-notch.fa-4.fa-spin.processing{ "style" => "display:none;" }
          %i.fa.fa-play.fa-4.play-btn{ "data-id" => track.id, "data-url" => track_path(track, format: :json), "data-length" => track.length, "data-stream" => track.file ? 1 : 0 }

:javascript
  $(document).ready(function(e) {
    observe_btn();
    $('.swipebox').swipebox();
    $.each($(".polaroid-images a"), function(i, element) {
      $(element).addClass(["rotate-5", "rotate-10"][parseInt(Math.random() * 10) % 2])
    });
  });
