- content_for :head do
  = javascript_include_tag :music
  = stylesheet_link_tag :music

%div{ "data-role": "page", "id": "release-#{@release.id}" }
  .row
    %ul
      %li
        = link_to music_index_path(permitted_params), default_transition.merge('data-method': :post) do
          %i.fas.fa-list.fa-4.margin-20

  :scss
    #{render partial: "music/images.css"}

  - if @release.images.any?
    .row.margin-20
      .polaroid-images.margin-20
        - @release.images.each do |image|
          = link_to image.file.url, class: :swipebox do
            %div{ id: "img-#{image.id}" }

  :javascript
    $(document).ready(function(e) {
      observe_polaroids();
      $(".swipebox").swipebox();
    });

  - if @release.nfo_files.any?
    .row
      %ul
        - @release.nfo_files.each do |nfo|
          %li
            = link_to nfo.file.url, target: "_blank" do
              %i.fab.fa-sticky-note.fa-4.shadow-light.margin-10

  .tracks
    - @tracks.each do |track|
      .row{ class: cycle('odd', 'even') }
        %ul
          %li
            .col-md-2
              = track.link_to_search :artist
            .col-md-2
              = track.title
            .col-md-2
              = track.album
            .col-md-1
              = track.genre
            .col-md-1
              = track.link_to_search :year
            .col-md-1
              .badge.duration= track.duration
            .col-md-1
              = processing_btn
              = play_btn track

  :javascript
    new App.Tracks(#{@release.track_urls.to_json.html_safe})
